/* removing all browser styling */
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* website's scroll should be smooth */
html {
    scroll-behavior: smooth;
}

/* setting the primary font for the site */
body{
    font-family: 'Raleway', sans-serif;
    scroll-snap-type: y mandatory;
}

.container-fluid{
    padding: 0;
}

#landingContainer{
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}



/* landing content div container will take up the entire width of the browser */
.section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

#slider{
    display: inline-flex;
    transition: 0.5s;
}

.landingContent {
    height: 100vh;
    width: 100vw;
    background-image: url('/Images/landing_image.jpg');
    background-position: center;
    background-size: cover;
    background-color: black;
    color: white;
}

.navbar {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    color: white;
    z-index: 1;
}

/* the text within the landing div placed in the center of the screen */
#landindText{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* .text{
    position: absolute;
} */

.primaryButton{
    border: 1px solid #F8F32B;
    color: #fff;
}

.primaryButton:hover{
    border: 1px solid #F8F32B;
    background-color: #F8F32B;
    color: #000;
}

h2{
    font-family: 'Fjalla One', sans-serif;
}

.carousel-indicators li{
    background-color: #136F63;
}

.controller{
    width: 1px;
    height: 320px;
    display: block;
    background: #c0c0c0;
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
}

#line1, #line2, #line3, #line4{
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
}

#active{
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background: #F8F32B;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}

.fab{
    margin-right: 15px;
    cursor: pointer;
}

.fab:hover{
    color:  #136F63;
}

.navbar-light .navbar-toggler{
    border-color: #136F63;
}

/* main container for the project section of the webiste */
#projects{
    background-image: url('https://images.unsplash.com/photo-1603109933443-ef26e38d1063?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: 100% 100%;
}

/* links going to the various projects */
a.projectCardLink, a.projectCardLink:hover{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.projectCardLink{
    background-color: transparent;
    perspective: 1000px;
}

.card{
    background-size: cover;
    height: 350px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.projectCardLink:hover, .card{
    /* transform: rotateY(180deg); */
}

.cardImage, .card-body{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardImage{
    background-size: cover;

}

#contact_info{
    /* display: none; */
}

input, textarea{
    width: 100%;
}

input{
    height: 3rem;
}

.border-bottom{
    border-bottom-color: #136F63 !important;
}

form .btn{
    color: black;
}


/* the text within the landing div placed in the appropriately on the screen */
@media only screen and (max-width: 763px) {
    #landindText{
        top: 46%;
    }

    .navbar {
        background-color: white;
    }

    
  }


  @media only screen and (min-width: 763px) and (max-width: 1168px) {
    #landindText{
        top:45%;
        /* width: 500px; */
    }

    #contact_info{
        /* display: none; */
    }
  }